<div class="container">
<h1>Catchem'all Cocktails</h1>
  <% @cocktails.each do |cocktail| %>
    <div class="card" >
      <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
      <div class="card-body">
        <h5 class="card-title"><%= cocktail.name %></h5>
        <%= link_to "see details", cocktail_path(cocktail) %>
      </div>
    </div>
  <% end %>
  <%= link_to "Add Cocktail", new_cocktail_path, class: "btn btn-primary", style: "width: 100%"%>
</div>


