.btn-ghost {
  color: $black;
  border: 1px solid $black;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.8;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  background: linear-gradient(to top,rgba(0,0,0,0.08), rgba(0,0,0,0.02 ));
  color: $black;
}

.btn-ghost-og {
  color: $orange;
  border: 1px solid $orange;
  background: linear-gradient(to top,rgba(0,0,0,0.02 ), rgba(0,0,0,0.02 ));
  &:hover {
    opacity: 1;
    background: linear-gradient(to top,$orange, rgba(0,0,0,0.02 ));
    color: $black;
  }
}



