.navbar-lewagon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: $black;
  padding: 12px 24px;
  a h1 {
    margin: 0;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  .navbar-lewagon {
    display: block;
    padding-bottom: 8px;
  }
  .media-mb {
    margin-right: 8px;
    width: 70%;
  }
  .btn-ghost-og {
  }
}


// Medium devices (tablets, 768px and up)
@media (min-width: 576px) {
  .navbar-lewagon {
    display: flex;
  }
}
